.airnow-blog {
  background-image: linear-gradient(180deg, #FFFFFF 42.02%, rgba(231, 239, 248, 0.6) 100%);
}

.airnow-blog__wrapper {
  width: 100%;
  max-width: $maxWidth;
  margin: 0 auto;
}

.airnow-blog__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 0 6%;

  box-sizing: border-box;

  @media (min-width: $tablet) {
    padding: 0 8%;
  }

  @media (min-width: $laptop) {
    padding: 0 5%;
  }

  @media (min-width: $desktop) {
    padding: 0 4%;
  }

  @media (min-width: $maxDesktop) {
    padding: 0 5.5%;
  }
}

.airnow-blog__title {
  margin: 0;
  margin-bottom: 10px;

  @include font(40px, 1.05);
  color: $title;

  @media (min-width: $tablet) {
    font-size: 70px;
  }

  @media (min-width: $laptop) {
    font-size: 90px;
  }
}

.airnow-blog__text {
  width: 100%;
  margin: 0;
  margin-bottom: 30px;

  @include font(16px, 1.28);
  color: $text1000;
  font-weight: 400;
  text-align: center;

  @media (min-width: $tablet) {
    margin-bottom: 40px;

    font-size: 26px;
  }

  @media (min-width: $laptop) {
    max-width: $innerMaxWidth;
    margin-bottom: 60px;

    font-size: 36px;
  }
}

.airnow-blog__list {
  @include clearList;

  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 22px;

  width: 100%;
  margin-bottom: 40px;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 22px;

    margin-bottom: 60px;
  }

  @media (min-width: $laptop) {
    grid-template-columns: 1fr 1fr 1fr;

    max-width: $innerMaxWidth;
  }
}

.airnow-blog__item {
  &:first-of-type {
    @media (min-width: $tablet) {
      grid-column: 1/3;
    }
  }
}

.airnow-blog__item-wrapper {
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.airnow-blog__more {
  margin: 0;
  min-width: 228px;
  height: 42px;

  @media (min-width: $tablet) {
    min-width: 310px;
    height: 50px;
  }
}
