.airnow-footer {

}

.airnow-footer__wrapper {
  position: relative;

  width: 100%;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 6%;

  box-sizing: border-box;

  @media (min-width: $tablet) {
    padding: 0 8%;
  }

  @media (min-width: $laptop) {
    padding: 0 5%;
  }

  @media (min-width: $desktop) {
    padding: 0 4%;
  }

  @media (min-width: $maxDesktop) {
    padding: 0 5.5%;
  }
}

.airnow-footer__border {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 15px 0;

  border-top: 1px solid rgba(196, 196, 196, 0.5);

  box-sizing: border-box;

  @media (min-width: $tablet) {
    padding: 15px 0;
  }

  @media (min-width: $laptop) {
    flex-direction: row;
    justify-content: space-between;

    padding: 25px 0;
  }

  @media (min-width: $desktop) {
    padding: 25px 0;
  }

  @media (min-width: $maxDesktop) {
    padding: 25px 0;
  }
}

.airnow-footer__info {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 25px;
  }

  @media (min-width: $laptop) {
    margin-bottom: 0;
  }
}

.airnow-footer__logo {
  @media (min-width: $tablet) {
    margin-right: 25px;
  }
}

.airnow-footer__copyright-mobile {
  margin: 0;

  @include font(14px, 17px);
  color: $text500;

  @media (min-width: $tablet) {
    display: none;
  }
}

.airnow-footer__copyright {
  margin: 0;

  @include font(14px, 17px);
  color: $text500;

  @media (max-width: $only-mobile) {
    display: none;
  }
}

.airnow-footer__list {
  @extend %clearList;

  margin-bottom: 25px;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;

    margin-bottom: 0;
  }
}

.airnow-footer__item {
  margin-bottom: 10px;

  text-align: center;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    margin-right: 25px;
  }

  &:last-child {
    margin: 0;
  }
}

.airnow-footer__link {
  @include font(14px, 14px);
  color: $text500;
  text-decoration: none;

  transition-timing-function: linear;
  transition-duration: 200ms;
  transition-property: color;

  &:hover,
  &:focus {
    color: $text1000;
  }
}
