.airnow-form {
}

.airnow-form__wrapper {
  width: 100%;
  max-width: $maxWidth;
  margin: 0 auto;
}

.airnow-form__content-wrapper {
  width: 100%;
  padding: 0 6%;

  box-sizing: border-box;

  @media (min-width: $tablet) {
    padding: 0 8%;
  }

  @media (min-width: $laptop) {
    padding: 0 5%;
  }

  @media (min-width: $desktop) {
    padding: 0 4%;
  }

  @media (min-width: $maxDesktop) {
    padding: 0 5.5%;
  }
}


.airnow-form__wrapper-ratio {
  position: relative;

  width: 100%;
  height: 0;

  padding-top: 90%;

  background-color: $white1000;

  @media (min-width: $tablet) {
    padding-top: 55%;
  }

  @media (min-width: $laptop) {
    padding-top: 36%;
  }

  @media (min-width: $desktop) {
    padding-top: 33%;
  }

  @media (min-width: $maxDesktop) {
    padding-top: 30%;
  }
}

.airnow-form__wrapper-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.airnow-form__title {
  @include visuallyHidden;
}

.airnow-form__step-1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition-timing-function: linear;
  transition-duration: 200ms;
  transition-property: transform, opacity;

  &--hidden {
    z-index: -1;

    transform: scale(0.7);
    opacity: 0;
  }
}

.airnow-form__slogan {
  margin: 0;
  margin-bottom: 35px;

  @include font(28px, 34px);
  color: $text1000;
  text-align: center;
  font-weight: 700;

  @media (min-width: $tablet) {
    margin-bottom: 55px;

    @include font(40px, 42px);
  }

  @media (min-width: $laptop) {
    margin-bottom: 80px;

    @include font(50px, 53px);
  }

  @media (min-width: $desktop) {
    margin-bottom: 60px;

    @include font(60px, 63px);
  }
}

.airnow-form__form {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    flex-direction: row;
    align-items: initial;

    max-width: none;
  }

  @media (min-width: $laptop) {
    max-width: 635px;
  }
}

.airnow-form__input {
  height: 48px;
  margin-bottom: 15px;
  padding: 0 20px;

  @include font(16px, 18px);
  color: $text1000;

  border: 1px solid #D6D6D6;
  border-radius: 6px;

  background-color: $white1000;
  box-sizing: border-box;

  transition-timing-function: linear;
  transition-duration: 200ms;
  transition-property: border-color;

  @media (min-width: $tablet) {
    flex-grow: 1;

    margin-bottom: 0;
    margin-right: 15px;
    padding: 0 25px;
  }

  &:hover {
    & ~ .field__tip {
      z-index: 1;

      opacity: 1;
    }
  }

  &:hover,
  &:focus {
    border-color: $green;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &:-webkit-autofill {
    color: inherit;

    background-color: $white1000;

    &,
    &:hover,
    &:focus,
    &:active {
      transition-delay: 9999s;
      transition-property: background-color, color;
    }
  }

  &:-moz-ui-invalid {
    box-shadow: none;
  }

  &::placeholder {
    @include font(14px, 18px);

    color: $text500;
  }
}

.airnow-form__submit {
  flex-shrink: 0;

  @media (min-width: $tablet) {
    width: 155px;
  }
}

.airnow-form__step-2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition-timing-function: linear;
  transition-duration: 200ms;
  transition-property: transform, opacity;

  &--hidden {
    z-index: -1;

    transform: scale(0.7);
    opacity: 1;
  }
}

.airnow-form__thank {
  margin: 0;
  margin-bottom: 10px;

  @include font(28px, 34px);
  color: $text1000;
  text-align: center;
  font-weight: 700;

  @media (min-width: $laptop) {
    margin-bottom: 15px;

    @include font(40px, 42px);
  }

  @media (min-width: $desktop) {
    @include font(50px, 53px);
  }
}

.airnow-form__message {
  margin: 0;
  margin-bottom: 10px;

  @include font(16px, 19px);
  color: $text800;

  @media (min-width: $tablet) {
    @include font(24px, 29px);
    margin-bottom: 30px;
  }
}

.airnow-form__image {
  width: 40%;
  height: auto;
  margin-bottom: 15px;

  @media (min-width: $tablet) {
    width: 30%;
    margin-bottom: 35px;
  }

  @media (min-width: $laptop) {
    width: 20%;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop) {
    width: 20%;
    margin-bottom: 35px;
  }
}

.airnow-form__button {
  width: 100%;
  max-width: 260px;

  @media (min-width: $tablet) {
    max-width: 240px;
  }

  @media (min-width: $laptop) {
    max-width: 290px;
    height: 48px;
  }

  @media (min-width: $desktop) {
    height: 50px;
  }
}
