.airnow-stories {

}

.airnow-stories__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 6%;

  box-sizing: border-box;

  @media (min-width: $tablet) {
    padding: 0 8%;
  }

  @media (min-width: $laptop) {
    padding: 0 5%;
  }

  @media (min-width: $desktop) {
    padding: 0 4%;
  }

  @media (min-width: $maxDesktop) {
    padding: 0 5.5%;
  }
}

.airnow-stories__title {
  margin: 0;

  @include font(47px, 57px);
  color: rgba(182, 160, 229, 0.2);
  text-align: center;
  white-space: nowrap;

  transition-timing-function: linear;
  transition-duration: 200ms;
  transition-property: transform, opacity;

  @media (min-width: $tablet) {
    @include font(94px, 114px);
  }

  @media (min-width: $laptop) {
    @include font(124px, 151px);
  }

  @media (min-width: $desktop) {
    @include font(134px, 163px);
  }

  &--hidden {
    transform: scale(0.5);
    opacity: 0;
  }
}

.airnow-stories__list {
  @extend %clearList;

  width: 80%;
  max-width: 1160px;
  margin-top: -13px;

  @media (min-width: $tablet) {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;

    width: 100%;
    margin-top: -35px;
  }

  @media (min-width: $laptop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: -45px;
  }
}

.airnow-stories__item {
  width: 100%;
  padding: 25px 5%;

  border: 2px solid #7A35FF;
  border-radius: 10px;

  background-color: $white1000;

  box-sizing: border-box;

  transition-timing-function: linear;
  transition-duration: 200ms;
  transition-property: transform, opacity;

  @media (min-width: $tablet) {
    margin-bottom: 20px;
    padding: 30px 6%;
  }

  @media (min-width: $laptop) {
    width: 30%;
    margin-bottom: 0;
    padding: 35px 3%;
  }

  @media (min-width: $maxDesktop) {
    border-color: #484EEB;
    background-color: #484EEB;

    box-shadow: 0 2px 8px rgba(29, 28, 31, 0.2);
  }

  &--hidden {
    transform: scale(0.7);
    opacity: 0;
  }

  &:nth-child(2) {
    @media (min-width: $laptop) {
      width: 35%;
      padding: 40px 3%;

      box-shadow: 0 2px 10px rgba(18, 6, 43, 0.2);
    }
  }

  &:nth-child(2) .airnow-stories__item-image {
    @media (min-width: $laptop) {
      width: 100px;
      height: 100px;
    }
  }

  &:nth-child(2) .airnow-stories__item-feedback {
    @media (min-width: $laptop) {
      @include font(14px, 17px);
      height: 185px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.airnow-stories__item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    align-items: flex-start;
  }

  @media (min-width: $laptop) {
    align-items: center;
  }
}

.airnow-stories__item-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 20px;

  @media (min-width: $tablet) {
    flex-direction: row;
  }

  @media (min-width: $laptop) {
    flex-direction: column;

    margin-bottom: 25px;
  }
}

.airnow-stories__item-image {
  @extend %center;

  width: 78px;
  height: 78px;
  margin-bottom: 20px;

  border-radius: 50%;

  background-color: $purple;

  overflow: hidden;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    margin-right: 25px;
  }

  @media (min-width: $laptop) {
    margin-right: 0;
    margin-bottom: 15px;
  }

  @media (min-width: $maxDesktop) {
    background-color: $white1000;
  }

}

.airnow-stories__item-user {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    align-items: flex-start;
  }

  @media (min-width: $laptop) {
    align-items: center;
  }
}

.airnow-stories__item-name {
  @include font(22px, 27px);
  color: #2D3464;

  @media (min-width: $tablet) {
    margin-bottom: 5px;

    @include font(28px, 32px);
  }

  @media (min-width: $maxDesktop) {
    color: $white1000;
  }
}

.airnow-stories__item-position {
  @include font(16px, 19px);
  color: $text1000;
  text-align: center;

  @media (min-width: $tablet) {
    text-align: left;
  }

  @media (min-width: $laptop) {
    text-align: center;
  }

  @media (min-width: $maxDesktop) {
    color: $white1000;
  }
}

.airnow-stories__item-feedback {
  margin: 0;
  min-height: 220px;

  @include font(14px, 17px);
  color: $text800;
  text-align: center;

  @media (min-width: $tablet) {
    min-height: 0;

    text-align: left;
  }

  @media (min-width: $laptop) {
    height: 170px;

    @include font(12px, 14px);
    text-align: center;
    text-overflow: ellipsis;

    overflow: hidden;
  }

  @media (min-width: $maxDesktop) {
    color: $white850;
  }
}
