$tablet: 640px;
$laptop: 1024px;
$desktop: 1280px;
$maxDesktop: 1510px;
$only-mobile: 639px;

$text1000: rgba(67,74,121, 1);
$text800: rgba(67,74,121, 0.8);
$text700: rgba(67,74,121, 0.7);
$text500: rgba(67,74,121, 0.5);

$white1000: rgba(255,255,255, 1);
$white850: rgba(255,255,255, 0.85);
$white800: rgba(255,255,255, 0.8);
$white400: rgba(255,255,255, 0.4);

$black: #2F3144;
$blue: #484EEB;
$green: #2FC37C;
$grey: #A6BDD1;
$lightGrey: #E7EFF8;
$lightPurple: #B6A0E5;
$purple: #7A35FF;


$maxWidth: 1510px;
