@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-arrow-color: white;

$slick-dot-color: black;
$slick-dot-color-active: $slick-dot-color;

$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: 25px;

    li {
        position: relative;
        margin: 0 5px;
        button {
            display: block;
            height: 10px;
            width: 10px;
            padding: 0;
            margin: 0;

            line-height: 0;
            font-size: 0;
            color: transparent;

            border: 1px solid #6F2FEC;
            border-radius: 50%;

            background-color: transparent;

            box-sizing: border-box;

            cursor: pointer;

            &:hover,
            &:focus {
                background-color: #6F2FEC;
            }
        }
    }

    li.slick-active {
        & button {
            background-color: #6F2FEC;
        }
    }
}
